.introduction {
  text-align: center;
}
.sub-header {
  font-size: 1.3rem;
  font-weight: lighter;
  color: #505050;
}
* {
  font-family: Helvetica, sans-serif, Arial;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  width: auto;
}
.example-card {
  max-width: 400px;
  margin-top: 50px;
  margin-left: 50px;
}

.header-text:after {
  content: "";
  animation: spin 20s linear infinite;
}

@keyframes spin {
  0% {
    content: "I am Ravindra Bakkamanthala";
    color: aqua;
  }

  20% {
    content: "I am a Full Stack Developer";
    color: brown;
  }

  40% {
    content: "I am a Constant Learner";
    color: chartreuse;
  }

  60% {
    content: "I am a Smart Coder";
    color: chartreuse;
  }

  80% {
    content: "I am a Visionary Leader";
    color: darkorange;
  }

  100% {
    content: "I am a dedicated team player";
    color: darkorange;
  }
}
