<div class="main-container">
  <mat-grid-list cols="4" rowHeight="80px" [gutterSize]="'20px'">
    <mat-grid-tile [colspan]="1" [rowspan]="6">
      <mat-card class="example-card" background-color="#D3D3D3">
        <img mat-card-image src="/assets/myphoto.PNG" />
        <header>
          <h2 class="header-text"></h2>
        </header>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="6">
      <div class="content container">
        <div class="introduction">
          <h1>Hello,</h1>
          <h2 class="sub-header">I'm Ravindra. A Full Stack Developer.</h2>
          <p><b>My Motto: Research, Design and Develop</b></p>
        </div>
        <br />
        <br />
        <div class="sub-header">
          <p>
            Currently, I am  working as a Full Stack Developer at AT&T, New Jersey.
          </p>
          <p>
            I have 5+ years of professional application development experience.
            During this time, I have programmed in many languages like Java, Python, JavaScript
            and worked with different teams and projects.
          </p>
          <p>
            I graduated from the University of Houston-Clearlake in major Computer Engineering.
          </p>
          <p>
            Currently, I am looking for Full Time opportunities which helps me to grow in my career, provides me
            with an environment to learn and gives me the oppurtunity to develop the applications that helps a large number
            of customers.
            I have a diverse profile and am open to pick up new technologies.
          </p>
          <p>
            <b>My goal:</b>
            Make technology more accessible.
            I believe technology can be a game changer if it is accessible to all,
            and can help solve some of the deep-rooted problems we are facing.
            I believe I am in a position to make difference in this area, and I intend to capitalize on it.
          </p>
          <p><b>My Principles:</b> "Think Big", "Invent and Simplify" and "Be a Constant Learner".</p>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

