<div class="main-container">
  <div class="well">

  </div>
  <mat-grid-list cols="4" rowHeight="100px" [gutterSize]="'20px'">
    <mat-grid-tile [colspan]="1" [rowspan]="6">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="6">
      <div>
        <table class="contact-form">
          <tbody>
            <tr>
              <td><b>Name:</b></td>
              <td>Ravindra Bakkamanthala</td>
            </tr>
            <tr>
              <td><b>Email:</b></td>
              <td>ravindrab240@gmail.com</td>
            </tr>
          </tbody>
        </table>
        <mat-toolbar-row>
          <span><a href="/assets/RavindraB_Resume.pdf" target="_blank" mat-raised-button color="primary">Resume</a></span>
          <span><a href="https://github.com/ravindrabakkamanthala" target="_blank"><i class="fa fa-github" style="color:black;font-size:36px; margin-left:20px; padding-right:10px;"></i></a></span>
          <span><a href="https://www.linkedin.com/in/ravindrabakkamanthala/" target="_blank"><i class="fa fa-linkedin-square" style="color:#0077b5;font-size:36px"></i></a></span>
        </mat-toolbar-row>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="6">
    </mat-grid-tile>
  </mat-grid-list>
</div>
