<div class="main-container" >
  <br />
  <br />
  <br />
  <mat-grid-list [cols]="colstotal" rowHeight="100px" (window:resize)="onResize($event)">
    <mat-grid-tile [colspan]="1" [rowspan]="6" *ngFor="let data of projectsdata">
      <mat-card class="example-card" style="width:100%; height:100%">
        <mat-card-header>
          <mat-card-title>{{data.name}}</mat-card-title>
          <mat-card-subtitle>{{data.description}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image style="height:300px" src={{data.image}}>
        <mat-card-content>
          <p>
            {{data.content}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href={{data.githublink}} target="_blank" mat-button>Github</a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
