<div class="main-container">
  <br />
  <br />
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="6">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Web Crawler</mat-card-title>
          <mat-card-subtitle>The Application crawls the webpages and stores the metadata politley.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image style="height:300px" src="/assets/WebCrawler.PNG">
        <mat-card-content>
          <p>
            The Application has total 3 componentns (UI, 2 backend Micro Services)
            The UI Framework is developed using React JS.
            And, backend Micro Services are developed using Spring Boot.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://github.com/ravindrabakkamanthala/webcrawler" target="_blank" mat-button>Github</a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="6">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>My Portfolio App</mat-card-title>
          <mat-card-subtitle>
            The Application which you are accessing right now :)
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image style="height:300px" src="/assets/MyPortfolio.PNG">
        <div></div>
        <div></div>
        <mat-card-content>
          <p>
            This is a static Web Application that has been developed using Angular 8.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://github.com/ravindrabakkamanthala/myportfolioapp" target="_blank" mat-button>Github</a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="6">
    </mat-grid-tile>
  </mat-grid-list>
</div>
