.fa {
  padding: 10px;
  font-size: 15px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-right: 5px;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

.license-center {
  flex: 1 1 auto;
  text-align: center;
  font-family: Helvetica, sans-serif, Arial;
  font-size:small;
}
