<footer class="footer" style="color:white">
  <mat-toolbar-row>
    <span class="license-center"> All rights reserved &copy;Ravindra Bakkamanthala - 2019</span>
    <span><a href="https://github.com/ravindrabakkamanthala" target="_blank"><i class="fa fa-github" style="font-size:36px; margin-left:20px; padding-right:10px;"></i></a></span>
    <span><a href="https://www.linkedin.com/in/ravindrabakkamanthala/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a></span>
  </mat-toolbar-row>
</footer>


