<!-- Footer -->
<footer class="page-footer font-small black darken-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-3">
        <div class="mb-5 flex-center">
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/in/ravindrabakkamanthala/" target="_blank">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--github-->
          <a class="ins-ic" href="https://github.com/ravindrabakkamanthala" target="_blank">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <button onclick="window.open('/assets/RavindraBakkamanthala_Resume.pdf')" target="_blank" mat-flat-button>Resume</button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="https://ravindrabakkamanthala.github.io">Ravindra Bakkamanthala</a>
  </div>
</footer>


